<ons-page var="appController">
  <ons-toolbar class="toolbar">
    <div class="center">Warif 一覧</div>
    <div class="right">
      <ons-toolbar-button (click)="filterClick()">Menu</ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="card card--material" style="text-align: center; position: absolute; top: 10px;left: 0;right: 0; width: 96% !important;  margin: 2%; height: 10% !important;">
    {{title}}
  </div>
  <div style="height: 70%; margin-top:30%; width: 100%; position: absolute;">
    <div class="s-wrapper swiper swiper-container swiper-container-horizontal swiper-container-ios">
      <div class="swiper-wrapper"
      (click)="clickWarif($event)">
        <div class="swiper-slide card card--material swiper-slide-opacity-left">
          <div class="card__content card--material__content">L</div>
        </div>
        <div class="swiper-slide card card--material swiper-slide-left">
          <div class="card__content card--material__content">Lorem</div>
        </div>
        <div class="swiper-slide card card--material swiper-slide-prev">
          <div class="card__content card--material__content">Lorem ipsum</div>
        </div>
        <div class="swiper-slide card card--material swiper-slide-active">
          <div class="card__content card--material__content">Lorem ipsum dolor</div>
        </div>
        <div class="swiper-slide card card--material swiper-slide-next">
          <div class="card__content card--material__content">Lorem ipsum sit</div>
        </div>
        <div class="swiper-slide card card--material swiper-slide-right">
          <div class="card__content card--material__content">Lorem ipsum sit amet</div>
        </div>
        <div class="swiper-slide card card--material swiper-slide-opacity-right">
          <div class="card__content card--material__content">Lorem ipsum sit amet hoge fuga</div>
        </div>
      </div>
    </div>
  </div>

  <ons-speed-dial position="bottom right" direction="up">
    <ons-fab>
      <ons-ripple></ons-ripple>
      <ons-icon icon="md-plus"></ons-icon>
    </ons-fab>
    <ons-speed-dial-item>
      <ons-icon icon="md-plus"></ons-icon>
      <!-- <div class="fab-label">アイテム登録</div> -->
    </ons-speed-dial-item>
    <ons-speed-dial-item>
      <ons-icon icon="md-plus"></ons-icon>
      <!-- <div class="fab-label">コーデ登録</div> -->
    </ons-speed-dial-item>
  </ons-speed-dial>

</ons-page>


<!-- <ons-page var="appController">
<input type="search" placeholder="Search" class="search-input searchBar" >
<ons-list class="myList fullHeight">
  <ons-list-item *ngFor="let venue of values" (click)="cellClick(venue)" routerLink="/info" >
    <ons-row class="item">
      <ons-col width="100px">
        <img class="shop" [src]="venue.store_image1" />
      </ons-col>
      <ons-col>
        <ons-row class="item-row">
          <ons-col class="shopTitle">{{venue.store_name}}</ons-col>
        </ons-row>
        <ons-row class="item-row2">
          <ons-col class="info" >
            {{venue.store_summary}}
          </ons-col>
        </ons-row>
        <ons-row class="item-row3" >
          <ons-col class="street">
            {{venue.address}}
          </ons-col>
        </ons-row>
      </ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>
</ons-page> -->
