<div class="background"></div>
<div var="appController" class="content" class="normal-page">
    <ons-toolbar class="toolbar">
      <div class="left">
        <ons-toolbar-button (click)="pop()">戻る</ons-toolbar-button>
      </div>
      <div class="center">warif</div>
    </ons-toolbar>
    <input type="checkbox" class="check slide" id="checked-slide">
    <input type="checkbox" class="check fade" id="checked-fade">
    <input type="checkbox" class="check push" id="checked-push">
    <input type="checkbox" class="check pull" id="checked-pull">
    <label class="switch slide" for="checked-slide"></label>
    <label class="switch fade" for="checked-fade"></label>
    <label class="switch push" for="checked-push"></label>
    <label class="switch pull" for="checked-pull"></label>
    <div class="gatefold" ng-swipe-up="swipe($event)">
      <header class="header">
        <h1>店員さんが使用する画面です。</h1>
      </header>
      <main class="contents">
        <section class="contents__inner">
            <label id="input-password">パスワードを入力してください
                <input class="inputPassword" type="password" [(ngModel)]="pass" placeholder="password">
              </label>
        </section>
        <section class="contents__inner">
            <button class="actionButton" type="submit" (click)="onclick()">Button</button>
        </section>
      </main>
      <footer class="footer">
        <p class="btn__box"><a href="https://theorthodoxworks.com/web-design/in-half-the-image-only-css/">このデモのエントリーへ</a></p>
      </footer>
    </div>
</div>
