.horizontal_scroll_wrap{
  background: #f1f1f1;
  height: 400px;
  overflow-y: hidden;
  margin: 0 -10px;
}
.scroll_lst {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 50px;
  margin: 25px 0 0;
  -webkit-overflow-scrolling: touch;
}
.scroll_item {
  margin-right: 10px;
  display: inline-block;
  width: 220px;
  border: 1px solid #ddd;
  background: #fff;
}
.scroll_item:first-child {
  margin-left: 10px;
}

.scroll_item_inr {
  display: block;
}
.scroll_item_info {
  white-space: normal;
  padding: 8px;
}
.scroll_item_ttl {
  font-size: 12px;
  color: #484848;
  line-height: 1.4;
  margin-bottom: 0;
}
