    <ons-page var="appController">
        <ons-toolbar class="toolbar">
            <div class="center">Onsen Places</div>
            <div class="right">
              <ons-toolbar-button (click)="filterClick()">Filter</ons-toolbar-button>
            </div>
          </ons-toolbar>
        <div class="storeInfo">
          <div class="storeImageBox" id="slideshow" *ngFor="let image of storeImage">
              <img class="storeImage" [src]="image" />
          </div>
          <div class="infoBox">
            <div>{{storeName}}</div>
            <div >{{storeDiscription}}</div>
            <div>{{address}}</div>
            <div>{{storeTel}}</div>
            <div>{{storeMail}}</div>
            <div>
              <a [href]="storeLink">りんく</a>
              <a routerLink="/warif">わりふ</a>
            </div>

          </div>

        </div>
        <ons-list class="myList fullHeight">
            <ons-list-item *ngFor="let venue of warifList" (click)="cellClick(venue)">
              <ons-row class="item">
                <ons-col width="100px">
                  <img class="shop" [src]="venue.warif_image_url" />
                </ons-col>
                <ons-col>
                  <ons-row class="item-row">
                    <ons-col class="shopTitle">{{venue.warif_name}}</ons-col>
                  </ons-row>
                  <ons-row class="item-row2">
                    <ons-col class="info" >
                      {{venue.warif_description}}
                    </ons-col>
                  </ons-row>
                <ons-row class="item-row3" >
                <ons-col class="street">
                  {{venue.original_price}}→
                  {{venue.warif_price}}
                </ons-col>
              </ons-row>
            </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
      </ons-page>  
