<div class= "box">
    <div id="animated-example" class="animated slideOutRight"></div>
    <div id="animated-example" class="animated slideOutLeft"></div>
</div>

<div class="slider-wrapper">
  <div class="slider">
    <div class="unit">
      <p class="img"><img src="" alt="" /></p>
      <p class="caption">キャプションです。</p>
    </div><!-- /.unit -->
    <div class="unit">
      <p class="img"><img src="" alt="" /></p>
      <p class="caption">キャプションです。</p>
    </div><!-- /.unit -->
    <div class="unit">
      <p class="img"><img src="" alt="" /></p>
      <p class="caption">キャプションです。</p>
    </div><!-- /.unit -->
    <div class="unit">
      <p class="img"><img src="" alt="" /></p>
      <p class="caption">キャプションです。</p>
    </div><!-- /.unit -->
    <div class="unit">
      <p class="img"><img src="" alt="" /></p>
      <p class="caption">キャプションです。</p>
    </div><!-- /.unit -->
  </div><!-- /.slider -->
</div><!-- /.slider-wrapper -->
